In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
## change directory and get list of file
os.chdir("c:\\Users\\Windows\\Documents\\2.Project\\5.Weather\\2.Bronze")

filelist = os.listdir()

In [3]:
## read files
df = pd.DataFrame()
for i in filelist:
    print(i)
    temp = pd.read_csv(i, encoding='utf-8', index_col = 0)
    temp = temp[temp['station_name']!= 'Totals:']
    df = pd.concat([df, temp], ignore_index=True)
    del temp

filepath = f'C:\\Users\\Windows\\Documents\\2.Project\\5.Weather\\3.Silver\\NSW_weather_data_12mth.csv'
        
df.to_csv(filepath, sep=',', encoding='utf-8')

albion_park_(shellharbour_airport).csv
albury_airport.csv
armidale_airport.csv
badgerys_creek.csv
ballina_airport.csv
bankstown_airport.csv
bathurst_airport.csv
bega.csv
bellambi.csv
bombala.csv
bourke_airport.csv
braidwood_racecourse.csv
broken_hill_airport.csv
byron_bay_(cape_byron).csv
cabramurra_smhea.csv
camden_airport.csv
campbelltown_(mount_annan).csv
canberra_airport.csv
canterbury_racecourse.csv
casino_airport.csv
cessnock_airport.csv
cobar_airport.csv
cobar_mo.csv
coffs_harbour_airport.csv
condobolin_airport.csv
cooma_airport.csv
coonabarabran_airport.csv
coonamble_airport.csv
cooranbong_(lake_macquarie).csv
cowra_airport.csv
mangrove_mountain.csv
marrangaroo_(defence).csv
merimbula_airport.csv
merriwa_(roscommon).csv
montague_island_lighthouse.csv
moree_aero.csv
moruya_airport.csv
moss_vale.csv
mount_boyce.csv
mount_ginini.csv
mudgee_airport.csv
murrurundi_gap.csv
narrabri_airport.csv
narrandera_airport.csv
nerriga.csv
newcastle_nobbys_signal_station.csv
norah_head.csv
nowra_ran_air_station.csv
nullo_mountain.csv
orange_airport.csv
parkes_airport.csv
paterson_(tocal).csv
penrith_lakes.csv
perisher_valley.csv
port_macquarie_airport.csv
richmond_raaf.csv
scone_airport.csv
sydney_(observatory_hill).csv
sydney_airport_amo.csv
sydney_olympic_park_(archery_centre).csv
tamworth_airport.csv
taree_airport.csv
temora_airport.csv
terrey_hills.csv
thredbo.csv
tibooburra_airport.csv
trangie_research_station.csv
tuggeranong_(isabella_plains).csv
ulladulla.csv
wagga_wagga_amo.csv
walgett_airport.csv
wanaaring_(borrona_downs).csv
west_wyalong_airport.csv
white_cliffs.csv
wilcannia_aerodrome.csv
williamtown_raaf.csv
yamba_pilot_station.csv
yanco_agricultural_institute.csv
young_airport.csv

In [4]:
df.head()

,station_name,date,ev_transpiration,rain,pan_ev,max_temp,min_temp,max_humid,min_humid,wind,solar
0,ALBION PARK (SHELLHARBOUR AIRPORT),01/02/2023,5.3,0.0,,27.3,18.7,85.0,58.0,2.99,26.60
1,ALBION PARK (SHELLHARBOUR AIRPORT),02/02/2023,5.8,0.0,,29.2,18.4,99.0,49.0,3.99,27.15
2,ALBION PARK (SHELLHARBOUR AIRPORT),03/02/2023,7.7,0.0,,27.5,17.8,75.0,26.0,6.55,28.18
3,ALBION PARK (SHELLHARBOUR AIRPORT),04/02/2023,8.0,0.0,,26.9,14.2,62.0,25.0,6.79,29.01
4,ALBION PARK (SHELLHARBOUR AIRPORT),05/02/2023,7.0,0.0,,26.9,17.8,70.0,32.0,5.07,28.77

In [5]:
df.tail()

,station_name,date,ev_transpiration,rain,pan_ev,max_temp,min_temp,max_humid,min_humid,wind,solar
28990,YOUNG AIRPORT,27/01/2024,5.4,0.0,,27.7,11.4,92.0,21.0,2.33,23.78
28991,YOUNG AIRPORT,28/01/2024,6.2,0.0,,30.3,6.6,93.0,24.0,2.28,30.04
28992,YOUNG AIRPORT,29/01/2024,6.7,0.0,,33.0,14.7,91.0,29.0,2.45,29.79
28993,YOUNG AIRPORT,30/01/2024,6.8,0.0,,33.9,16.6,84.0,39.0,3.32,27.23
28994,YOUNG AIRPORT,31/01/2024,7.2,0.0,,33.2,18.4,93.0,21.0,3.09,29.03